PySide6==6.7.3
psutil==6.0.0
pyautogui==0.9.54
opencv-python==4.10.0.84
numpy==2.1.1
SpeechRecognition==3.10.4
pyttsx3==2.90
pywin32
pypiwin32
pydantic==2.8.2
pillow==10.4.0
requests==2.32.3
ultralytics
pyzbar
packaging
lap>=0.5.12